# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom Ignores
*.log
*.filters
*.idb
*.iobj
*.ipdb
*.pdb
*.txt
*.tlog
*.lastcodeanalysissucceeded
*nativecodeanalysis*
*.lastbuildstate
*.ilk
*.db
*.suo
*v16/
/SpelSylt/.vs/SpelSylt/v15/ipch/62d68f747e1486e.ipch
/SpelSylt/.vs/SpelSylt/v15/Browse.VC.opendb
*.cache
*.exe.config
*.csproj.user
